# Example environment file
# Set the virtual host property and rename it to .env
VIRTUAL_HOST=localhost
DATABASE_NAME=castyou
DATABASE_USER=castyou
DATABASE_PASS=castyou
API_URL=http://localhost:8765
