<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cast You!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">
                You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
                your browser</a> to improve your experience and security.
            </p>
        <![endif]-->


        <section class="section">
            <div class="container">
                Some shit goes here
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="field">
                        <div class="file is-primary">
                            <label class="file-label">
                                <input class="file-input" type="file" name="cast" />
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Primary file…
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <input type="submit" />
                </form>
            </div>
        </section>
    </body>
</html>
